<div class="snippet-new-wrapper">

<%= form_tag snippet_path , method: 'patch' do %>

<div class="snippet-name">
  <input id="name" name="name" type="text" value="<%= @snippet.name %>" placeholder="Snippet Name" >
</div>

<div class="snippet-description">
  <textarea id="description" name="description" placeholder="Description" rows="2" cols="80"><%= @snippet.description %></textarea>
</div>

<div class="snippet-language">
  <select id="language" name="language" value="<%= @snippet.language %>">
    <option value="javascript">JavaScript</option>
  </select>
</div>

<div class="snippet-body">
  <textarea id="snippet-body" name="body" rows="16" cols="80" placeholder="Snippet Code"><%= @snippet.body %></textarea>
</div>

<div class="snippet-btn">
  <button >Update</button>
</div>

<% end %>

</div>
