<div class="snippet-new-wrapper">
  <div class="back-btn">
    <a href="/users/<%= current_user.id %>"><button class="btn-back">Back To Your Profile</button></a>
  </div>

  <div class="snippet-new-form">
    <%= form_tag '/snippets' , method: 'post' do %>

      <div class="snippet-name form-group">
        <input id="name" class="" name="name" type="text" placeholder="Snippet Name" value="<%= @snippet.name %>" >
      </div>

      <div class="snippet-description form-group">
        <textarea id="description" class="" type="text" name="description" placeholder="Description" rows="1" cols="60"><%= @snippet.description %></textarea>
      </div>

      <div class="snippet-language">
        <span class="fancyArrow"></span>
        <select id="language-new" class="" name="language"  >
          <option value="javascript" <% if @snippet.language == 'javascript' %> selected <% end %> >JavaScript</option>
          <option value="ruby" <% if @snippet.language == 'ruby' %> selected <% end %>>Ruby</option>
          <option value="other" <% if @snippet.language == 'other' %> selected <% end %>>Other</option>
        </select>
      </div>

      <div class="snippet-body form-group">
        <textarea id="snippet-body" type="text" name="body" rows="8" cols="60" placeholder="Snippet Code"> <%= @snippet.body %></textarea>
      </div>

      <div class="snippet-btn">
        <button class="btn-snippet">Submit</button>
      </div>
    <% end %>
  </div>
</div>
