
  <div class="left-side">
    <h3>Other Snippets</h3>
    <div class="div-snippets-list">
      <table class="table table-striped">
        <tr>
          <th  class="column-title">Name</th>
          <th class="column-title">Description</th>
          <th class="column-title">Word Count</th>
        </tr>
        <% @snippets_pop.each do |attempt| %>
          <tr class='clickable-row' data-href='/snippets/<%= attempt.id %>'>
            <td><%= link_to( attempt.name, snippet_path(attempt)) %></td>
            <td><%= truncate(attempt.description, length: 100) %></td>
            <td><%= attempt.word_count %></td>
          </tr>
        <% end %>
        <% @snippets.each do |attempt| %>
          <% if !@snippets_pop.include? attempt%>
            <tr class='clickable-row' data-href='/snippets/<%= attempt.id %>'>
              <td><%= link_to( attempt.name, snippet_path(attempt)) %></td>
              <td><%= truncate(attempt.description, length: 100) %></td>
              <td><%= attempt.word_count %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="right-side">
    <div class="div-language-score-board">
      <h3>Score Board</h3>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th> Username </th>
          <th> Snippet </th>
          <th> Score </th>
        </tr>
        <% if @attempts.empty? %>
        <tr>
          <td> --- </td>
          <td> --- </td>
          <td> No entries </td>
          <td> --------- </td>
        </tr>
        <% else %>
          <% @attempts.each_with_index do |attempt, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td><a href="/users/<%= attempt.user.id %>"><%= attempt.user.username %></a></td>
            <td><%= link_to( attempt.snippet.name, snippet_path(attempt.snippet)) %></td>
            <td><%= attempt.score %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
