  <%= stylesheet_link_tag "snippets/show" %>

  <input type="hidden" name="snippet_id" value="<%= params[:id] %>">
  <input type="hidden" name="snippet_length" value="<%= @array.length-1 %>">
  <input type="hidden" name="snippet_word_count" value="<%= @snippet.word_count %>">

  <div class="snippets-show-wrapper">

    <section class="sidebar">

      <h3 class="back-to-snippets"><a href="/languages/<%= @snippet.language %>"><- back to snippets</a></h3>

      <!-- History -->
      <h3>History</h3>
      <table class="table table-striped">
        <tr>
          <th>WPM</th>
          <th>Time</th>
        </tr>
        <% @history.each do |attempt| %>
          <tr>
            <td><%= attempt.score %>wpm</td>
            <td><%= Time.zone.now.day - attempt.updated_at.day %> day/s ago</td>
          </tr>
        <% end %>
      </table>

      <!-- Leaderboard -->
      <h3>Leaderboard</h3>
      <table class="table table-striped">
        <tr>
          <th>Pos</th>
          <th>Player</th>
          <th>WPM</th>
        </tr>
        <% @leaderboard.each_with_index do |attempt, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><a href="/users/<%= attempt.user.id %>"><%= attempt.user.username %></a></td>
            <td><%= attempt.score %>wpm</td>
          </tr>
        <% end %>
      </table>
    </section>

    <section class="header">
      <p>sample.js</p>
    </section>

    <section class="snippet">
      <div class="snippet-row"><% for i in 1..@array.count("\n")+1 do %><span><%= i.to_s %><br></span><% end %></div>
      <div class="snippet-body"><% @array.each do |char| %><span><% if char == "\n" %>&nbsp;<br><% elsif char == " " %>&nbsp;<% else %><%= char %><% end %></span><% end %></div>
      <div style="clear: both;"></div>

      <!-- The Modal -->
      <div id="winModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <p>WPM: <span></span></p>
          <a href="/snippets/<%= params[:id] %>"><button class="btn btn-default">Play again</button></a>
        </div>

      </div>

    </section>

    <section class="footer">
      <div class="timer">
        <p>Timer: <span>0:00</span></p>
      </div>
      <div class="proglang">
        <p>Javascript</p>
      </div>
    </section>
  </div>

  <%= javascript_include_tag "snippets/show" %>