
<div class="container users-show-wrapper">

  <% if @user.id == session[:user_id] %>
  <h2 class="average-wpm">Your average WPM: <%= @wpm %></h2>
  <% else %>
  <h2 class="average-wpm"><%= @user.username %>'s average WPM: <%= @wpm %></h2>
  <% end %>


  <% if @user.id == session[:user_id] %>
  <h2>Your recent scores</h2>
  <% else %>
  <h2><%= @user.username %>'s recent scores</h2>
  <% end %>
  <table class="table table-striped attempts">
    <tr class="table-col">
      <th class="name">Name</th>
      <th class="description">Description</th>
      <th class="language">Language</th>
      <th class="body">Body</th>
      <th class="score">Score (WPM)</th>
    </tr>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><a href="/snippets/<%= attempt.snippet.id %>"><%= attempt.snippet.name %></a></td>
        <td><%= attempt.snippet.description[0...100] %></td>
        <td><a href="/languages/<% attempt.snippet.language %>"><%= attempt.snippet.language %></a></td>
        <td><a href="/snippets/<%= attempt.snippet.id %>"><%= attempt.snippet.body[0...100] + " ..." %></a></td>
        <td><%= attempt.score %></td>
      </tr>
    <% end %>
  </table>

  <% if @user.id == session[:user_id] %>
    <button class="new-snippet btn btn-default">
      <a href="/snippets/new">
        <h3>+ Create new snippet</h3>
      </a>
    </button>
  <% end %>

  <% if @user.id == session[:user_id] %>
    <h2>Your snippets</h2>
    <% else %>
    <h2><%= @user.username %>'s snippets</h2>
  <% end %>
  <table class="table table-striped snippets">
    <tr class="table-col">
      <th class="name">Name</th>
      <th class="description">Description</th>
      <th class="language">Language</th>
      <th class="body">Body</th>
      <% if @user.id == session[:user_id] %>
        <th></th>
      <% end %>
    </tr>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><a href="/snippets/<%= snippet.id %>"><%= snippet.name %></a></td>
        <td><a href="/snippets/<%= snippet.id %>"><%= snippet.description[0...100] %></a></td>
        <td><a href="/languages/<%= snippet.language %>"><%= snippet.language %></a></td>
        <td><a href="/snippets/<%= snippet.id %>"><%= snippet.body[0...100] + " ..." %></a></td>
        <% if @user.id == session[:user_id] %>
        <td><a href="/snippets/<%= snippet.id %>/edit">
          <button class="btn btn-default">edit</button>
        </a></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>

<%= javascript_include_tag "users/show" %>
