
<div class="container users-show-wrapper">

  <h2 class="average-wpm">Your average WPM: <%= @wpm %></h2>

  <h2>Your recent scores</h2>
  <table class="table table-striped attempts">
    <tr class="table-col">
      <th class="name">Name</th>
      <th class="description">Description</th>
      <th class="language">Language</th>
      <th class="body">Body</th>
      <th class="score">Score (WPM)</th>
    </tr>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><a href="/snippets/<%= attempt.snippet.id %>"><%= attempt.snippet.name %></a></td>
        <td><%= attempt.snippet.description[0...100] %></td>
        <td><a href="/languages/<% attempt.snippet.language %>"><%= attempt.snippet.language %></a></td>
        <td><a href="/snippets/<%= attempt.snippet.id %>"><%= attempt.snippet.body[0...100] + " ..." %></a></td>
        <td><%= attempt.score %></td>
      </tr>
    <% end %>
  </table>

  <button class="new-snippet btn btn-default">
    <a href="/snippets/new">
      <h3>+ Create new snippet</h3>
    </a>
  </button>

  <h2>Your snippets</h2>
  <table class="table table-striped snippets">
    <tr class="table-col">
      <th class="name">Name</th>
      <th class="description">Description</th>
      <th class="language">Language</th>
      <th class="body">Body</th>
      <th></th>
    </tr>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><a href="/snippets/<%= snippet.id %>"><%= snippet.name %></a></td>
        <td><%= snippet.description[0...100] %></td>
        <td><a href="/languages/<%= snippet.language %>"><%= snippet.language %></a></td>
        <td><a href="/snippets/<%= snippet.id %>"><%= snippet.body[0...100] + " ..." %></a></td>
        <td><a href="/snippets/<%= snippet.id %>/edit">
          <button class="btn btn-default">edit</button>
        </a></td>
      </tr>
    <% end %>
  </table>

</div>

<%= javascript_include_tag "users/show" %>
