<!DOCTYPE html>
<html>
  <head>
    <title>Speedcoder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 class="create-acc-link"> <%= current_user.username %></h2>
    <div class="dropdown-menu">


      <a href="/snippets/new">New Snippet</a>
      <a href="/users/<%= current_user.id %>">My Snippets</a>
      <a href="/users/<%= current_user.id %>/edit">Edit Account</a>
      <a href="/session">Logout</a>
    </div>

    <%= yield %>
  </body>
</html>
